
@model WebAppNo1.ViewModels.IndividalViewModel
@{
    ViewData["Title"] = "index";
}


    <h1>
        <link rel="stylesheet" href="~/css/individal.css">
        Individals领空
    </h1>
@foreach(var individal in Model.Individals)
{
    
<div >
        <h2 class="h20">
            @individal.name
        </h2>
        <h3>
            @individal.sex
        </h3>
        <h4>
            @individal.age
        </h4>
        <h5>@individal.province</h5>
</div>
}
@foreach (var conption in Model.Conptions)
{
<div>
        <h2 class="h21">
            @conption.address
        </h2>
        <h3>
            @conption.direct
        </h3>
        <h4>
            @conption.primilry
        </h4>
</div>
}

